body
{
  background-color: #8BAC65;
  font-family: "Roboto Lt","Segoe UI Light";
}
 
input
{
  font-family: "Roboto Lt","Segoe UI Light";
}

/* MENU =========================================*/

.menu
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu_compte
{
  float: left;
  display: none;
  position: absolute;
  /*left: 140px;
  top: 0px;*/
  margin: 0px;
  padding: 0px;
  background-color: #333;
  list-style-type: none;
  color: white;
  width: 140px;
}

.li_compte
{
  float: left;
  width: 140px;
}

.li_compte:hover .menu_compte
{
  display: block;
}

li
{
  float: left;
}

.li_menu_li
{
  display: block;
  color: white;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover
{
  background-color: #111;
}

/* CONNECTION ================================ */

.connection
{
  margin: 20px auto;
  padding: 20px 20px 20px 20px;
  width: 350px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.form_connection
{

}

.conteneur
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.connection_colonne1
{
  height: 45px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connection_colonne2
{
  text-align: left;
  width: 180px;
}

.liens_black /* déjà présent pour l'inscription' */
{
  text-decoration: underline;
  color: black;
}


/* CONNECTION ================================ */

.inscription
{
  margin: 20px auto;
  padding: 20px 20px 20px 20px;
  width: 350px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.form_inscription
{
  text-align: center;
}

.conteneur
{
  display: flex;
  justify-content: space-around;
}

.colonne1
{
  height: 132px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colonne2
{
  text-align: left;
  width: 180px;
  margin: auto;
}

.input_inscription
{
  width: 100%;
}

.select_inscription
{
  width: 100%;
}

.liens_black /* déjà présent pour la connection */
{
  text-decoration: underline;
  color: black;
}
